{
    "openapi": "3.0.0",
    "info": {
        "title": "더 링코 코어(The Linko Core) Api 서비스",
        "description": "본 API 서비스는 자체 시비스인 차비스 를 위해 개발되었습니다.",
        "contact": {
            "email": "sh.jang@sohocode.kr"
        },
        "license": {
            "name": "Private"
        },
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://public.the-linko-core.wd/api/v1",
            "description": "백엔드 로컬 개발환경 전용"
        },
        {
            "url": "https://tlk.sohocode.kr/api/v1",
            "description": "프론트엔드 테스트서버"
        }
    ],
    "paths": {
        "/common/listCountry": {
            "get": {
                "tags": [
                    "common"
                ],
                "summary": "국가정보 목록을 리턴한다.",
                "operationId": "ac69dd3847e74a81cbf5a7fdb8e7ad96",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/op"
                    },
                    {
                        "$ref": "#/components/parameters/keyword"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/page_per_items"
                    },
                    {
                        "$ref": "#/components/parameters/order"
                    },
                    {
                        "$ref": "#/components/parameters/dir"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "요청 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/api_message"
                                        },
                                        {
                                            "$ref": "#/components/schemas/page_info"
                                        },
                                        {
                                            "$ref": "#/components/schemas/country_list"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        },
        "/common/getCountry/{id}": {
            "get": {
                "tags": [
                    "common"
                ],
                "summary": "요청한 국가정보를 리턴한다.",
                "operationId": "6e000d7be32c616a1a05474c56d44e7f",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "요청 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/api_message"
                                        },
                                        {
                                            "$ref": "#/components/schemas/country"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        },
        "/common/listOccupationalGroup": {
            "get": {
                "tags": [
                    "common"
                ],
                "summary": "직업군정보 목록을 리턴한다.",
                "operationId": "ae5bdd5a64c291e2ccb72283419691dc",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/op"
                    },
                    {
                        "$ref": "#/components/parameters/keyword"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/page_per_items"
                    },
                    {
                        "$ref": "#/components/parameters/order"
                    },
                    {
                        "$ref": "#/components/parameters/dir"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "요청 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/api_message"
                                        },
                                        {
                                            "$ref": "#/components/schemas/page_info"
                                        },
                                        {
                                            "$ref": "#/components/schemas/occupational_group_list"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        },
        "/common/getOccupationalGroup/{id}": {
            "get": {
                "tags": [
                    "common"
                ],
                "summary": "지정 직업군 정보를 리턴한다.",
                "operationId": "767b9c0ec87db4d5762c543965213276",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "요청 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/api_message"
                                        },
                                        {
                                            "$ref": "#/components/schemas/occupational_group"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        },
        "/common/listVisaDocumentType": {
            "get": {
                "tags": [
                    "common"
                ],
                "summary": "비자발급시 필요한 문서 유형 목록을 출력한다.",
                "operationId": "6397442a2ad52d08b9edfc63f4c408ae",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/visa_id"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/op"
                    },
                    {
                        "$ref": "#/components/parameters/keyword"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/page_per_items"
                    },
                    {
                        "$ref": "#/components/parameters/order"
                    },
                    {
                        "$ref": "#/components/parameters/dir"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "요청 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/api_message"
                                        },
                                        {
                                            "$ref": "#/components/schemas/page_info"
                                        },
                                        {
                                            "$ref": "#/components/schemas/visa_document_types"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        },
        "/common/getVisaDocumentType/{id}": {
            "get": {
                "tags": [
                    "common"
                ],
                "summary": "비자발급시 필요한 지정 문서유형 정보를 출력한다.",
                "operationId": "ac455109f052279e568c54a5da8e4f6c",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "요청 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/api_message"
                                        },
                                        {
                                            "$ref": "#/components/schemas/visa_document_type"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        },
        "/common/listEvalInfo": {
            "get": {
                "tags": [
                    "common"
                ],
                "summary": "지정 가능한 평가 설문 목록을 출력한다.",
                "operationId": "ed78b9d3dadabcfadfd9a15a856ce753",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/target"
                    },
                    {
                        "$ref": "#/components/parameters/active"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/op"
                    },
                    {
                        "$ref": "#/components/parameters/keyword"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/page_per_items"
                    },
                    {
                        "$ref": "#/components/parameters/order"
                    },
                    {
                        "$ref": "#/components/parameters/dir"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "요청 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/api_message"
                                        },
                                        {
                                            "$ref": "#/components/schemas/page_info"
                                        },
                                        {
                                            "$ref": "#/components/schemas/eval_infos"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        },
        "/common/getEvaluation/{id}": {
            "get": {
                "tags": [
                    "common"
                ],
                "summary": "지정 설문정보 일체를 출력한다.",
                "operationId": "282b5001311685ad4d303db190ab4855",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "요청 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/api_message"
                                        },
                                        {
                                            "$ref": "#/components/schemas/eval_info_include_item"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        },
        "/company/listTask": {
            "get": {
                "tags": [
                    "company"
                ],
                "summary": "채용 기업이 등록한 업무 리스트 목록을 출력한다.",
                "operationId": "38d722e17f7ca4662fd7d71132efdfa4",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/op"
                    },
                    {
                        "$ref": "#/components/parameters/keyword"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/page_per_items"
                    },
                    {
                        "$ref": "#/components/parameters/order"
                    },
                    {
                        "$ref": "#/components/parameters/dir"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "요청 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/api_message"
                                        },
                                        {
                                            "$ref": "#/components/schemas/page_info"
                                        },
                                        {
                                            "$ref": "#/components/schemas/tasks"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/company/addTask": {
            "post": {
                "tags": [
                    "company"
                ],
                "summary": "채용 기업의 새로운 업무를 등록한다.",
                "operationId": "f7f767f06695bfd96842c2bb174bfab7",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/input_task"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/company/getTask/{id}": {
            "get": {
                "tags": [
                    "company"
                ],
                "summary": "채용 기업의 업무 정보를 출력한다.",
                "operationId": "9ff73e59b4a648f5dec4462d5cd8e9c3",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "요청 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/task"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/company/showTaskMovie/{id}": {
            "get": {
                "tags": [
                    "company"
                ],
                "summary": "동영상 파일을 출력한다.",
                "operationId": "49dfec848d2099d53e9a8baba908e4e2",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    },
                    {
                        "$ref": "#/components/parameters/_token"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "요청 성공",
                        "content": {
                            "image/*": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        },
        "/updateTask/updateTask/{id}": {
            "get": {
                "tags": [
                    "company"
                ],
                "summary": "지정 업무정보를 변경한다.",
                "operationId": "0c51225b83fb968993a883bc4cd4787c",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/input_task"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/company/deleteTask/{id}": {
            "get": {
                "tags": [
                    "company"
                ],
                "summary": "지정 업무 정보를 삭제한다.",
                "operationId": "6c69d4820f0199391832df241f6b874a",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/company/listActionPoint": {
            "get": {
                "tags": [
                    "company"
                ],
                "summary": "채용 기업의 기본 활동지점 목록을 출력한다.",
                "operationId": "73db25d509e83e4608a6121e67379deb",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/op"
                    },
                    {
                        "$ref": "#/components/parameters/keyword"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/page_per_items"
                    },
                    {
                        "$ref": "#/components/parameters/order"
                    },
                    {
                        "$ref": "#/components/parameters/dir"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "요청 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/api_message"
                                        },
                                        {
                                            "$ref": "#/components/schemas/page_info"
                                        },
                                        {
                                            "$ref": "#/components/schemas/action_points"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/company/addActionPoint": {
            "post": {
                "tags": [
                    "company"
                ],
                "summary": "채용 기업의 새로운 기본 활동지점 정보를 등록한다.",
                "operationId": "b9b9aec0a265c04d6be34d762c5c7736",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/input_action_point"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/company/getActionPoint/{id}": {
            "get": {
                "tags": [
                    "company"
                ],
                "summary": "지정 기본 활동지점 정보를 출력한다.",
                "operationId": "2a643f3e0740dfdb3145dfbcdd8b2b53",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "요청 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/action_point"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/company/updateActionPoint/{id}": {
            "post": {
                "tags": [
                    "company"
                ],
                "summary": "지정 활동지점 정보를 변경한다.",
                "operationId": "0b568b597f471cd92d747a309243c2f9",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/input_action_point"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/company/deleteActionPoint/{id}": {
            "get": {
                "tags": [
                    "company"
                ],
                "summary": "지정 기본 활동지점 정보를 삭제한다.",
                "operationId": "5c61a15a19b6241673b4978d3bc5814d",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/company/listWorker": {
            "get": {
                "tags": [
                    "company"
                ],
                "summary": "기업이 채용(중)한 근로자 목록을 출력한다.",
                "operationId": "68fcace5eb73f9ec6158a9225e87ae74",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/op"
                    },
                    {
                        "$ref": "#/components/parameters/keyword"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/page_per_items"
                    },
                    {
                        "$ref": "#/components/parameters/order"
                    },
                    {
                        "$ref": "#/components/parameters/dir"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "요청 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/api_message"
                                        },
                                        {
                                            "$ref": "#/components/schemas/page_info"
                                        },
                                        {
                                            "$ref": "#/components/schemas/tasks"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/company/setWorkerActionPoint/{id}": {
            "post": {
                "tags": [
                    "company"
                ],
                "summary": "기업에 근무중인 근로자 활동지점 정보를 설정한다.",
                "operationId": "bf50c7f6946d6c530beb7c5e32bcb16c",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/input_action_point"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/contract/listUndisclosedContract": {
            "get": {
                "tags": [
                    "contract"
                ],
                "summary": "발주자가 작성 중인 미공개 계약서 목록을 출력한다.",
                "description": "이용 대상 : 발주자",
                "operationId": "ef87219e564ad6c98b242607f9ad8171",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/op"
                    },
                    {
                        "$ref": "#/components/parameters/keyword"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/page_per_items"
                    },
                    {
                        "$ref": "#/components/parameters/order"
                    },
                    {
                        "$ref": "#/components/parameters/dir"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "요청 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/api_message"
                                        },
                                        {
                                            "$ref": "#/components/schemas/page_info"
                                        },
                                        {
                                            "$ref": "#/components/schemas/contract_infos"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/contract/listOrderedContract": {
            "get": {
                "tags": [
                    "contract"
                ],
                "summary": "발주처에서 발주한 게약정보 목록을 출력한다.",
                "description": "이용 대상 : 발주자, 발주 계약관리 기관 빛 실무자",
                "operationId": "affb95a1ebf6f7329d61332582a0216f",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/op"
                    },
                    {
                        "$ref": "#/components/parameters/keyword"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/page_per_items"
                    },
                    {
                        "$ref": "#/components/parameters/order"
                    },
                    {
                        "$ref": "#/components/parameters/dir"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "요청 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/api_message"
                                        },
                                        {
                                            "$ref": "#/components/schemas/page_info"
                                        },
                                        {
                                            "$ref": "#/components/schemas/contract_infos"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/contract/listWorkerProvider": {
            "get": {
                "tags": [
                    "contract"
                ],
                "summary": "근로자 공급자(계약 대상자) 목록을 출력한다.",
                "operationId": "c8a4162afbe0e2ca737a55463d2f573e",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/op"
                    },
                    {
                        "$ref": "#/components/parameters/keyword"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/page_per_items"
                    },
                    {
                        "$ref": "#/components/parameters/order"
                    },
                    {
                        "$ref": "#/components/parameters/dir"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "요청 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/api_message"
                                        },
                                        {
                                            "$ref": "#/components/schemas/page_info"
                                        },
                                        {
                                            "$ref": "#/components/schemas/user_info_list"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/contract/add": {
            "post": {
                "tags": [
                    "contract"
                ],
                "summary": "발주처에서 신규 계약정보를 등록한다.",
                "description": "이용 대상 : 발주자",
                "operationId": "bd9bc335b897f6db74244add2092499f",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/add_contract"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/contract/setSubContract/{id}": {
            "post": {
                "tags": [
                    "contract"
                ],
                "summary": "중계 계약의 경우 하위 계약을 등록한다.",
                "operationId": "6edb2546455b9f7a7624df1b43c8fb12",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/add_sub_contract"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/contract/get/{id}": {
            "get": {
                "tags": [
                    "contract"
                ],
                "summary": "계약정보를 출력한다.",
                "operationId": "c49aa0f6e37f0956fb72ea36f56e84a3",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "요청 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/api_message"
                                        },
                                        {
                                            "$ref": "#/components/schemas/contract_data"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/contract/update/{id}": {
            "post": {
                "tags": [
                    "contract"
                ],
                "summary": "발주처에서 기존 계약정보를 수정한다.",
                "description": "이용 대상 : 발주자",
                "operationId": "0da6d2e412cbc67363b916cd668bdcbf",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/add_contract"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/contract/delete/{id}": {
            "get": {
                "tags": [
                    "contract"
                ],
                "summary": "발주처에서 기존 계약정보를 삭제한다.",
                "description": "이용 대상 : 발주자",
                "operationId": "db64507e944a1f2df58c5fb4425a1001",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/contract/listManager/{id}": {
            "get": {
                "tags": [
                    "contract"
                ],
                "summary": "지정 계역정보에 등록된 관리기관 목록을 출력한다.",
                "description": "이용 대상 : 발주자 또는 수주자",
                "operationId": "c3ce6ba9f6b3823a31c6b81ab1f401e0",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/contract/addManager/{contract_id}/{id}": {
            "get": {
                "tags": [
                    "contract"
                ],
                "summary": "지정 계약정보에 관리기관을 추가한다.",
                "description": "이용 대상 : 발주자, 수주자",
                "operationId": "dfabcc8b14da5db7903282957746946f",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/contract_id"
                    },
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/contract/setManagers/{id}": {
            "post": {
                "tags": [
                    "contract"
                ],
                "summary": "지정 계약의 관리기관을 설정한다. 기존 설정 무시\n이용 가능 대상 : 발주자, 수주자",
                "operationId": "94c539242a019b6f3302203497d37e61",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/manager_user_ids"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "406": {
                        "$ref": "#/components/responses/406"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/contract/deleteManager/{contract_id}/{id}": {
            "get": {
                "tags": [
                    "contract"
                ],
                "summary": "지정 계약정보에서 관리기관을 삭제한다.",
                "description": "이용 대상 : 발주자",
                "operationId": "5d7c7f11445d3b2ddb90cbdf3b8aa046",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/contract_id"
                    },
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/contract/addFile/{id}": {
            "post": {
                "tags": [
                    "contract"
                ],
                "summary": "계약관련 파일을 등록한다.",
                "description": "이용 대상 : 발주자, 수주자, 계약 관리 기관",
                "operationId": "154ed20dc7319e6d9b9f7402f60f06b5",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/add_contract_file"
                            }
                        }
                    }
                },
                "responses": {
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/contract/updateFile/{id}": {
            "post": {
                "tags": [
                    "contract"
                ],
                "summary": "지정 계약관련 파일을 변경한다.",
                "description": "이용 대상 : 등록자",
                "operationId": "562ac4662e963097836e45de63f32b60",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/add_contract_file"
                            }
                        }
                    }
                },
                "responses": {
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/contract/deleteFile/{id}": {
            "get": {
                "tags": [
                    "contract"
                ],
                "summary": "지정 계약관련 파일을 삭제한다.",
                "description": "이용 대상 : 등록자",
                "operationId": "3420115494be407edebaba221fb37077",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/contract/listWorker/{id}": {
            "get": {
                "tags": [
                    "contract"
                ],
                "summary": "계약 근로자 목록을 출력한다.",
                "operationId": "1bf6a4d90a76cc11602162d9b9e0bfc0",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/op"
                    },
                    {
                        "$ref": "#/components/parameters/keyword"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/page_per_items"
                    },
                    {
                        "$ref": "#/components/parameters/order"
                    },
                    {
                        "$ref": "#/components/parameters/dir"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "요청 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/api_message"
                                        },
                                        {
                                            "$ref": "#/components/schemas/page_info"
                                        },
                                        {
                                            "$ref": "#/components/schemas/assigned_workers"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/contract/assignWorkers/{id}": {
            "post": {
                "tags": [
                    "contract"
                ],
                "summary": "지정 계약에 다수의 근로자를 배정한다.",
                "description": "이용 대상 : 수주 계약 관리기관",
                "operationId": "3f5a5d861b05794824a6c9784cf42998",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/worker_ids"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "406": {
                        "$ref": "#/components/responses/406"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/contract/deleteWorker": {
            "post": {
                "tags": [
                    "contract"
                ],
                "summary": "지정 계약에 배정된 다수의 근로자를 삭제한다.",
                "description": "이용 대상 : 수주 계약 관리 기관 및 실무자",
                "operationId": "994e06afe840691db0411890ca3e24b6",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/worker_ids"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "406": {
                        "$ref": "#/components/responses/406"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/contract/updateWorkerStatus/{id}": {
            "post": {
                "tags": [
                    "contract"
                ],
                "summary": "지정 계약에 배정된 근로자 진행 상태를 변경한다.",
                "operationId": "0070c4c2747e2271cae3c3a706a61b70",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/worker_ids"
                                    },
                                    {
                                        "$ref": "#/components/schemas/AssignedWorkerStatus"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "406": {
                        "$ref": "#/components/responses/406"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/contract/listWorkingCompany/{id}": {
            "get": {
                "tags": [
                    "contract"
                ],
                "summary": "지정 계약에 등록된 수요 기업 목록을 출력한다.",
                "operationId": "0ed432a8985300034439455c58deaa7b",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/op"
                    },
                    {
                        "$ref": "#/components/parameters/keyword"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/page_per_items"
                    },
                    {
                        "$ref": "#/components/parameters/order"
                    },
                    {
                        "$ref": "#/components/parameters/dir"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "요청 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/api_message"
                                        },
                                        {
                                            "$ref": "#/components/schemas/page_info"
                                        },
                                        {
                                            "$ref": "#/components/schemas/working_companies"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/contract/addWorkingCompanies/{id}": {
            "post": {
                "tags": [
                    "contract"
                ],
                "summary": "지정 계약 수요 기업을 등록한다.",
                "operationId": "57519b68ee2af97d49eb3b6a558df4c7",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/input_working_companies"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/contract/updatePlannedWorkerCount/{id}": {
            "post": {
                "tags": [
                    "contract"
                ],
                "summary": "지정 계약 수요 기업의 근로자 채용 계획 인원 수를 변경한다.",
                "operationId": "a17fa404fef6573dc0c8dbd37763a7c8",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/input_update_working_company"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/contract/deleteWorkingCompanies/{id}": {
            "post": {
                "tags": [
                    "contract"
                ],
                "summary": "지정 계약 수요 기업을 삭제한다.",
                "operationId": "6e0faa77aff066c85e14f342728afcef",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/ids"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/contract/assignCompany/{id}": {
            "post": {
                "tags": [
                    "contract"
                ],
                "summary": "지정 계약에 등록된 근로자를 수요 기업에 배정한다.",
                "description": "이용 가능 대상 : 발주처 관리기관 및 실무자",
                "operationId": "7ceb98f776a657409105c082d150cb2b",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/input_assign_worker"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "468": {
                        "$ref": "#/components/responses/468"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/contract/unAssignCompany/{id}": {
            "post": {
                "tags": [
                    "contract"
                ],
                "summary": "지정 계약에 등록된 근로자를 수요 기업 배정에서 해제한다.",
                "description": "이용 가능 대상 : 발주처 관리기관 및 실무자",
                "operationId": "be167622002c295b84708f0050bae2d3",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/input_unassign_worker"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/contract/listEntrySchedule/{id}": {
            "get": {
                "tags": [
                    "contract"
                ],
                "summary": "지정 계약의 배정 근로자 입국 일정 목록을 출력한다.",
                "description": "이용 가능 대상 : 계약 구성원",
                "operationId": "1460a7b0feaaa27f79cdc14cdc07e596",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/op"
                    },
                    {
                        "$ref": "#/components/parameters/keyword"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/page_per_items"
                    },
                    {
                        "$ref": "#/components/parameters/order"
                    },
                    {
                        "$ref": "#/components/parameters/dir"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "요청 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/api_message"
                                        },
                                        {
                                            "$ref": "#/components/schemas/page_info"
                                        },
                                        {
                                            "$ref": "#/components/schemas/entry_infos"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/contract/addEntrySchedule/{id}": {
            "post": {
                "tags": [
                    "contract"
                ],
                "summary": "지정 계약의 근로자 입국 일정을 등록한다.",
                "description": "이용 가능 대상 : 발주처 관리기관 및 실무자",
                "operationId": "562a7b5297c1052e48ead907a14d35d2",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/input_entry_ifo"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/contract/updateEntrySchedule/{id}": {
            "post": {
                "tags": [
                    "contract"
                ],
                "summary": "지정 입국 일전 내용을 변경한다.",
                "description": "이용 가능 대상 : 발주처 관리기관 및 실무자",
                "operationId": "8e95567703bac58934403e8afdc065fe",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/input_entry_ifo"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/contract/deleteEntrySchedule/{id}": {
            "get": {
                "tags": [
                    "contract"
                ],
                "summary": "지정 입국일정 정보를 삭제한다.",
                "operationId": "f7c625cd7511f28aa3c4c55a97c116a8",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/contract/setWorkerEntrySchedule/{id}": {
            "post": {
                "tags": [
                    "contract"
                ],
                "summary": "지정 계약의 배정 근로자 입국일정을 확정한다.",
                "description": "이용 가능 대상 : 수주처 관리기관 및 실무자",
                "operationId": "5411ba0e99a15211e69f409182dc12fe",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/input_worker_entry_schedule"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/contract/setWorkerEvaluationPlan/{contract_id}/{id}": {
            "get": {
                "tags": [
                    "contract"
                ],
                "summary": "지정 계약에서 근로자를 평가하기 위한 설문 정보를 지정한다.",
                "operationId": "d5d7fac23e1b6d704f6625742944fd9a",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/contract_id"
                    },
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/contract/setCompanyEvaluationPlan/{contract_id}/{id}": {
            "get": {
                "tags": [
                    "contract"
                ],
                "summary": "지정 계약에서 수요 기업을 평가하기 위한 설문 정무를 지정한다.",
                "operationId": "1e4d2d3eec3f93f931abe5e5dc17c40a",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/contract_id"
                    },
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/crypt/encrypt": {
            "post": {
                "tags": [
                    "crypt"
                ],
                "summary": "전달된 문자열을 암호화한다.",
                "operationId": "ae82ed85877f129e2ab215f8aecacd1c",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/text"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "요청 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/api_message"
                                        },
                                        {
                                            "$ref": "#/components/schemas/encrypted_text"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        },
        "/crypt/decrypt": {
            "post": {
                "tags": [
                    "crypt"
                ],
                "summary": "전달된 암호문을 복호화한다.",
                "operationId": "709c22e3f078fa0ddcfda9ad0198fb58",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/text"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "요청 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/api_message"
                                        },
                                        {
                                            "$ref": "#/components/schemas/decrypted_text"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        },
        "/crypt/encryptB64": {
            "post": {
                "tags": [
                    "crypt"
                ],
                "summary": "전달된 문자열을 암호화한다. (일부 Base64 활용)",
                "operationId": "fbc2690107d7e5095bc74f5809d84c61",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "allOf": [
[...]
