{
    "openapi": "3.0.0",
    "info": {
        "title": "더 링코 코어(The Linko Core) Api 서비스",
        "description": "본 API 서비스는 자체 시비스인 차비스 를 위해 개발되었습니다.",
        "contact": {
            "email": "sh.jang@sohocode.kr"
        },
        "license": {
            "name": "Private"
        },
        "version": "2.0"
    },
    "servers": [
        {
            "url": "https://public.the-linko-core.wd/api/v2",
            "description": "백엔드 로컬 개발환경 전용"
        },
        {
            "url": "https://tlk.sohocode.kr/api/v2",
            "description": "프론트엔드 테스트서버"
        }
    ],
    "paths": {
        "/common/listCountry": {
            "get": {
                "tags": [
                    "common"
                ],
                "summary": "국가정보 목록을 리턴한다.",
                "operationId": "ece26b26421f9f1441c4d590439865a5",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/op"
                    },
                    {
                        "$ref": "#/components/parameters/keyword"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/page_per_items"
                    },
                    {
                        "$ref": "#/components/parameters/order"
                    },
                    {
                        "$ref": "#/components/parameters/dir"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "요청 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/api_message"
                                        },
                                        {
                                            "$ref": "#/components/schemas/page_info"
                                        },
                                        {
                                            "$ref": "#/components/schemas/country_list"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        },
        "/common/getCountry/{id}": {
            "get": {
                "tags": [
                    "common"
                ],
                "summary": "요청한 국가정보를 리턴한다.",
                "operationId": "e46248efd8f39de49e2e21a2d09e48af",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "요청 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/api_message"
                                        },
                                        {
                                            "$ref": "#/components/schemas/country"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        },
        "/common/listOccupationalGroup": {
            "get": {
                "tags": [
                    "common"
                ],
                "summary": "직업군정보 목록을 리턴한다.",
                "operationId": "6f9fe077a9c367bfb8c89a0a6e5cc5df",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/op"
                    },
                    {
                        "$ref": "#/components/parameters/keyword"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/page_per_items"
                    },
                    {
                        "$ref": "#/components/parameters/order"
                    },
                    {
                        "$ref": "#/components/parameters/dir"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "요청 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/api_message"
                                        },
                                        {
                                            "$ref": "#/components/schemas/page_info"
                                        },
                                        {
                                            "$ref": "#/components/schemas/occupational_group_list"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        },
        "/common/getOccupationalGroup/{id}": {
            "get": {
                "tags": [
                    "common"
                ],
                "summary": "지정 직업군 정보를 리턴한다.",
                "operationId": "7fbe9db85099e704e0dc3142d539f7ef",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "요청 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/api_message"
                                        },
                                        {
                                            "$ref": "#/components/schemas/occupational_group"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        },
        "/common/listVisaDocumentType": {
            "get": {
                "tags": [
                    "common"
                ],
                "summary": "비자발급시 필요한 문서 유형 목록을 출력한다.",
                "operationId": "6761fa2643559e635a9dc7f9494ce4af",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/visa_id"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/op"
                    },
                    {
                        "$ref": "#/components/parameters/keyword"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/page_per_items"
                    },
                    {
                        "$ref": "#/components/parameters/order"
                    },
                    {
                        "$ref": "#/components/parameters/dir"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "요청 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/api_message"
                                        },
                                        {
                                            "$ref": "#/components/schemas/page_info"
                                        },
                                        {
                                            "$ref": "#/components/schemas/visa_document_types"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        },
        "/common/getVisaDocumentType/{id}": {
            "get": {
                "tags": [
                    "common"
                ],
                "summary": "비자발급시 필요한 지정 문서유형 정보를 출력한다.",
                "operationId": "3180f5a2644700a71828f3a3b5aa77cf",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "요청 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/api_message"
                                        },
                                        {
                                            "$ref": "#/components/schemas/visa_document_type"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        },
        "/common/listEvalInfo": {
            "get": {
                "tags": [
                    "common"
                ],
                "summary": "지정 가능한 평가 설문 목록을 출력한다.",
                "operationId": "9252302fdb4529e2f780b099e34cebb0",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/target"
                    },
                    {
                        "$ref": "#/components/parameters/active"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/op"
                    },
                    {
                        "$ref": "#/components/parameters/keyword"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/page_per_items"
                    },
                    {
                        "$ref": "#/components/parameters/order"
                    },
                    {
                        "$ref": "#/components/parameters/dir"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "요청 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/api_message"
                                        },
                                        {
                                            "$ref": "#/components/schemas/page_info"
                                        },
                                        {
                                            "$ref": "#/components/schemas/eval_infos"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        },
        "/common/getEvaluation/{id}": {
            "get": {
                "tags": [
                    "common"
                ],
                "summary": "지정 설문정보 일체를 출력한다.",
                "operationId": "cff5e58c525026b8042ad3824f658338",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "요청 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/api_message"
                                        },
                                        {
                                            "$ref": "#/components/schemas/eval_info_include_item"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        },
        "/operator/switchUser/{id}": {
            "get": {
                "tags": [
                    "operator"
                ],
                "summary": "관리자가 다른 회원 계정으로 전환한다.",
                "description": "이용 대상 : 운영 실무자",
                "operationId": "963cbef9175a3680dadb86c6252d061f",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/operator/exitSwitchedUser": {
            "get": {
                "tags": [
                    "operator"
                ],
                "summary": "계정전환을 해제한다.",
                "description": "이용 대상 : 운영 실무자",
                "operationId": "3efb04eb2344a8404fadcbdbb5da5412",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "406": {
                        "$ref": "#/components/responses/406"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/operator/updateOccupationalGroup/{id}": {
            "post": {
                "tags": [
                    "operator"
                ],
                "summary": "직업군 정보를 갱신한다.",
                "description": "이용 대상 : 운영 실무자",
                "operationId": "0f5164c48242e893adbdc5663bcd8486",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/editable_occupational_group"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/operator/listUser": {
            "get": {
                "tags": [
                    "operator"
                ],
                "summary": "지정 회원 유형의 계정 목록을 출력한다.",
                "operationId": "0b579c32e0ef59f97bb19f72232161ba",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/country_id"
                    },
                    {
                        "$ref": "#/components/parameters/type"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/op"
                    },
                    {
                        "$ref": "#/components/parameters/keyword"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/page_per_items"
                    },
                    {
                        "$ref": "#/components/parameters/order"
                    },
                    {
                        "$ref": "#/components/parameters/dir"
                    },
                    {
                        "$ref": "#/components/parameters/active_range"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "요청 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/api_message"
                                        },
                                        {
                                            "$ref": "#/components/schemas/page_info"
                                        },
                                        {
                                            "$ref": "#/components/schemas/user_info_list"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/operator/updateUserActiveState/{id}": {
            "post": {
                "tags": [
                    "operator"
                ],
                "summary": "개정 활성화 여부를 설정한다.",
                "description": "이용 대상 : 운영 실무자",
                "operationId": "5b66f78ff38b06b8e06bfe1dfbf79ea8",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/active_state"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/operator/updateUserType/{id}": {
            "post": {
                "tags": [
                    "operator"
                ],
                "summary": "회원 유형을 변경한다.",
                "description": "이용 대상 : 운영 실무자",
                "operationId": "8c7b6a1528e05d2736ced49b3c33d477",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/user_types"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/operator/addVisaDocumentType": {
            "post": {
                "tags": [
                    "operator"
                ],
                "summary": "사증발급시 필요한 문서 유형을 등록한다.",
                "description": "이용 대상 : 운영 실무자",
                "operationId": "7fafb842241a2d6318f8a2762d3e29b5",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/updatable_visa_document_type"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/operator/updateVisaDocumentType/{id}": {
            "post": {
                "tags": [
                    "operator"
                ],
                "summary": "사증발급시 필요한 문서 유형을 변경한다.",
                "description": "이용 대상 : 운영 실무자",
                "operationId": "4f6ad4a0fb80e5496c849967aebd9038",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/updatable_visa_document_type"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/operator/deleteVisaDocumentType/{id}": {
            "post": {
                "tags": [
                    "operator"
                ],
                "summary": "지정 문서 유형을 삭제한다. 만일 해당 문서 유형의 문사가 존재한다면 삭제하지 않는다.",
                "description": "이용 대상 : 운영 실무자",
                "operationId": "c8d5d8ae119cc887fdba67056295211c",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "406": {
                        "$ref": "#/components/responses/406"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/operator/addEvalInfo": {
            "post": {
                "tags": [
                    "operator"
                ],
                "summary": "평가 설문을 등록한다.",
                "operationId": "a1d3c8e09b94ae84f2cb7293716391c8",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/eval_info"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/operator/updateEvalInfo/{id}": {
            "post": {
                "tags": [
                    "operator"
                ],
                "summary": "지정 평가 설문을 수정한다.",
                "operationId": "1b5ba6ba8eec6594ff03290d1ffebe35",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/eval_info"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/operator/deleteEvalInfo/{id}": {
            "get": {
                "tags": [
                    "operator"
                ],
                "summary": "지정 평가 설문을 삭제한다.",
                "operationId": "52e4469a6bb7b3a7b2422dd96d9fd4ba",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/operator/addEvalItem/{id}": {
            "post": {
                "tags": [
                    "operator"
                ],
                "summary": "평가의 지정 설문에 설문 항목 등혹한다.",
                "operationId": "85fa0e1f5fb357dda2a57feeed00aa35",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/input_eval_item"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/operator/updateEvalItem/{id}": {
            "post": {
                "tags": [
                    "operator"
                ],
                "summary": "평가의 지정 설문 항목을 수정한다.",
                "operationId": "c7c021680b4f0e90bc4c9af1d69676a6",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/input_eval_item"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/operator/deleteEvalItem/{id}": {
            "get": {
                "tags": [
                    "operator"
                ],
                "summary": "지정 근로자 평가 설문 항목을 삭제한다.",
                "operationId": "8215eb43438a3eb6f6dfb13ce984097a",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/user/getManagerByCountry/{id}": {
            "get": {
                "tags": [
                    "user"
                ],
                "summary": "해당 국가의 해외 파트너 정보를 리턴한다.",
                "operationId": "c667dcdd296dc6cb5214bb0fc20b6330",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "요청 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/api_message"
                                        },
                                        {
                                            "$ref": "#/components/schemas/user_info"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        },
        "/user/joinPerson": {
            "post": {
                "tags": [
                    "user"
                ],
                "summary": "개인회원 가입을 처리한다.",
                "operationId": "572d4c57bbdd707723a31783f22339f0",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/join_common"
                                    },
                                    {
                                        "$ref": "#/components/schemas/join_login_method"
                                    },
                                    {
                                        "$ref": "#/components/schemas/join_password"
                                    },
                                    {
                                        "$ref": "#/components/schemas/person_type"
                                    },
                                    {
                                        "$ref": "#/components/schemas/join_worker_profile"
                                    },
                                    {
                                        "$ref": "#/components/schemas/management_org_id"
                                    },
                                    {
                                        "$ref": "#/components/schemas/device"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "요청 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/api_message"
                                        },
                                        {
                                            "$ref": "#/components/schemas/login"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "요청 성공 추가 승인 필요",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/api_message"
                                        },
                                        {
                                            "$ref": "#/components/schemas/login"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        },
        "/user/joinOrganization": {
            "post": {
                "tags": [
                    "user"
                ],
                "summary": "단체회원 가입을 처리한다.",
                "operationId": "b3a0967deb7d800ea9e8350f48479fd2",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/join_common"
                                    },
                                    {
                                        "$ref": "#/components/schemas/join_login_method"
                                    },
                                    {
                                        "$ref": "#/components/schemas/join_password"
                                    },
                                    {
                                        "$ref": "#/components/schemas/organization_type"
                                    },
                                    {
                                        "$ref": "#/components/schemas/join_organization_profile"
                                    },
                                    {
                                        "$ref": "#/components/schemas/device"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "요청 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/api_message"
                                        },
                                        {
                                            "$ref": "#/components/schemas/login_token"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "요청 성공 (추가작업 필요)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/api_message"
                                        },
                                        {
                                            "$ref": "#/components/schemas/login_token"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        },
        "/user/login": {
            "post": {
                "tags": [
                    "user"
                ],
                "summary": "회원코드 및 비밀번호를 이용하여 로그인한다.",
                "operationId": "c646089bff1dfe3cc1af8a1243b1569f",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/login"
                                    },
                                    {
                                        "$ref": "#/components/schemas/device"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "요청 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/api_message"
                                        },
                                        {
                                            "$ref": "#/components/schemas/login_token"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "205": {
                        "description": "단말기 정보 상의함",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/api_message"
                                        },
                                        {
                                            "$ref": "#/components/schemas/login_token"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "465": {
                        "$ref": "#/components/responses/465"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        },
        "/user/loginByFacebook": {
            "post": {
                "tags": [
                    "user"
                ],
                "summary": "페이스북을 통해 로그인한다.",
                "operationId": "eec2bca29704e3dba53f506b7e1c906c",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/facebook_login"
                                    },
                                    {
                                        "$ref": "#/components/schemas/device"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "요청 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/api_message"
                                        },
                                        {
                                            "$ref": "#/components/schemas/login_token"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "205": {
                        "description": "단말기 정보 상의함",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/api_message"
                                        },
                                        {
                                            "$ref": "#/components/schemas/login_token"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "406": {
                        "$ref": "#/components/responses/406"
                    },
                    "465": {
                        "$ref": "#/components/responses/465"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        },
        "/user/loginAuto": {
            "post": {
                "tags": [
                    "user"
                ],
                "summary": "자동 로그인을 처리한다.",
                "operationId": "d4d77152de73b2e9744f36a2355d7ada",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/device"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "요청 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/api_message"
                                        },
                                        {
                                            "$ref": "#/components/schemas/login_token"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "205": {
                        "description": "단말기 정보 상의함",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/api_message"
                                        },
                                        {
                                            "$ref": "#/components/schemas/login_token"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "465": {
                        "$ref": "#/components/responses/465"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/user/logout": {
            "get": {
                "tags": [
                    "user"
                ],
                "summary": "로그아웃을 처리한다.",
                "operationId": "b236d2d5514fc6c9df700ada485929f8",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "461": {
                        "$ref": "#/components/responses/461"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/user/getMyInfo": {
            "get": {
                "tags": [
                    "user"
                ],
                "summary": "계정 전환 또는 로그인 회원 자신의 정보를 리턴한다.",
                "operationId": "76d6519cc6d7ab49f431fb0fa7158d69",
                "responses": {
                    "200": {
                        "description": "요청 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/api_message"
                                        },
                                        {
                                            "$ref": "#/components/schemas/user_info"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "461": {
                        "$ref": "#/components/responses/461"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/user/updateDevice": {
            "post": {
                "tags": [
                    "user"
                ],
                "summary": "단말기 정보를 변경한다. 로그인 과정에서 응답코드가 205인 경우 필요한 기능이다.",
                "operationId": "424667068c5507137855b174e61fab2e",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/update_device"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "406": {
                        "$ref": "#/components/responses/406"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/user/changePassword": {
            "post": {
                "tags": [
                    "user"
                ],
                "summary": "비밀번호를 변경한다.",
                "operationId": "baa31fa49f720a238ca70662e30c58b7",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/change_password"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "406": {
                        "$ref": "#/components/responses/406"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/user/updateFCMToken": {
            "post": {
                "tags": [
                    "user"
                ],
                "summary": "FCM 토큰 발급 지연으로 로그인 시 등록하지 못한 경우 FCM 토큰을 등록한다.",
                "operationId": "bb1f85ff684c6f8f014da40ec67fc995",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "fcm": {
                                        "description": "FCM 토큰",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/user/getIdByIdAlias/{id_alias}": {
            "get": {
                "tags": [
                    "user"
                ],
                "summary": "지정 회원코드의 회원 일련번호를 리턴한다.",
                "operationId": "755d8093c3cfc3d935fd6165c07ba0ed",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id_alias"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "요청 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/api_message"
                                        },
                                        {
                                            "$ref": "#/components/schemas/id"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        },
        "/user/updateOrganizationProfile": {
            "post": {
                "tags": [
                    "user"
                ],
                "summary": "단체회원 자신의 프로필 정보를 수정한다.",
                "operationId": "ae6faca702473654b8f87303410e3f18",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/join_common"
                                    },
                                    {
                                        "$ref": "#/components/schemas/join_organization_profile"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/user/updatePersonProfile": {
            "post": {
                "tags": [
                    "user"
                ],
                "summary": "개인회원 자신의 프로필 정보를 수정한다.",
                "operationId": "5c1cafd48f46cee36a0370298dcbf5c6",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/join_common"
                                    },
                                    {
                                        "$ref": "#/components/schemas/join_worker_profile"
                                    },
                                    {
                                        "$ref": "#/components/schemas/management_org_id"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/user/requestCertificationToken": {
            "post": {
                "tags": [
                    "user"
                ],
                "summary": "인증토튼 발급을 요청한다.",
                "operationId": "c6cce616a0e97a8f17c85d304665701b",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/email"
                                    },
                                    {
                                        "$ref": "#/components/schemas/certification_function"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        },
        "/user/resetPassword": {
            "post": {
                "tags": [
                    "user"
                ],
                "summary": "비밀번호를 초기화한다.",
                "operationId": "6966b018c18358f1f2c94952d81ff973",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/email"
                                    },
                                    {
                                        "$ref": "#/components/schemas/certification_token"
                                    },
                                    {
                                        "$ref": "#/components/schemas/password"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        },
        "/user/createPassword": {
            "post": {
                "tags": [
                    "user"
                ],
                "summary": "새로운 비밀번호를 생성한다.",
                "operationId": "8055e8362f41a9516bee9bd581eb0605",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/email"
                                    },
                                    {
                                        "$ref": "#/components/schemas/certification_token"
                                    },
                                    {
                                        "$ref": "#/components/schemas/password"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        },
        "/user/updatePhoto": {
            "post": {
                "tags": [
                    "user"
                ],
                "summary": "회원 사진을 등록하거나 변경한다.",
                "operationId": "a8abd9bafa6b5ecba8482764a921f3d3",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/image"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/user/updateRoadMap": {
            "post": {
                "tags": [
                    "user"
                ],
                "summary": "단체 회원의 약도 이미지를 등록하거나 변경한다.",
                "operationId": "4aac236f882f7ca6fd4f51df4f0c99d7",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/image"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/user/showPhoto/{id}": {
            "get": {
                "tags": [
                    "user"
                ],
                "summary": "회원 사진을 리턴한다.",
                "operationId": "4ffa1364d8dcb07a2ed199c7b3386089",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    },
                    {
                        "$ref": "#/components/parameters/_token"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "요청 성공",
                        "content": {
                            "image/*": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        },
        "/user/showRoadMap/{id}": {
            "get": {
                "tags": [
                    "user"
                ],
                "summary": "단체회원 약도를 리턴한다.",
                "operationId": "0c2eb412c4dd47854d33ff34a2d0b826",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    },
                    {
                        "$ref": "#/components/parameters/_token"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "요청 성공",
                        "content": {
                            "image/*": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        },
        "/worker/listWorkerForOperator": {
            "get": {
                "tags": [
                    "worker"
                ],
                "summary": "근로자 목록을 출력한다.",
                "description": "이용 가능 대상 : 운영자",
                "operationId": "46882504b2bdb3be324de4f12352c2aa",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/country_id"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/op"
                    },
                    {
                        "$ref": "#/components/parameters/keyword"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/page_per_items"
                    },
                    {
                        "$ref": "#/components/parameters/order"
                    },
                    {
                        "$ref": "#/components/parameters/dir"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "요청 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/api_message"
                                        },
                                        {
                                            "$ref": "#/components/schemas/page_info"
                                        },
                                        {
                                            "$ref": "#/components/schemas/user_info_list"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/recommendation/listRequest": {
            "get": {
                "tags": [
                    "recommendation"
                ],
                "summary": "공유 요청 목록을 출력한다.",
                "operationId": "f0abcb744b44e4a6d9dfbb8534540d79",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/op"
                    },
                    {
                        "$ref": "#/components/parameters/keyword"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/page_per_items"
                    },
                    {
                        "$ref": "#/components/parameters/order"
                    },
                    {
                        "$ref": "#/components/parameters/dir"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "요청 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/api_message"
                                        },
                                        {
                                            "$ref": "#/components/schemas/page_info"
                                        },
                                        {
                                            "$ref": "#/components/schemas/worker_recommendation_request_infos"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/recommendation/listRequestForUser": {
            "get": {
                "tags": [
                    "recommendation"
                ],
                "summary": "회원 본인이 신청한 추천 요청 목록을 출력한다.",
                "operationId": "0101b52a5b3c3976fdaee4e1286982ea",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/op"
                    },
                    {
                        "$ref": "#/components/parameters/keyword"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/page_per_items"
                    },
                    {
                        "$ref": "#/components/parameters/order"
                    },
                    {
                        "$ref": "#/components/parameters/dir"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "요청 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/api_message"
                                        },
                                        {
                                            "$ref": "#/components/schemas/page_info"
                                        },
                                        {
                                            "$ref": "#/components/schemas/worker_recommendation_request_infos"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/recommendation/addRequest": {
            "post": {
                "tags": [
                    "recommendation"
                ],
                "summary": "회원 본인이 공유 요청을 등록한다.",
                "operationId": "869359bce0df8e0cd2724c61097d0388",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/input_worker_recommendation_request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/recommendation/getRequest/{id}": {
            "get": {
                "tags": [
                    "recommendation"
                ],
                "summary": "지정 근로자 추천 요청정보를 출력한다.",
                "operationId": "a756603e1f5aae54b94f52fa0880be01",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "요청 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/api_message"
                                        },
                                        {
                                            "$ref": "#/components/schemas/id"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/recommendation/updateRequest/{id}": {
            "post": {
                "tags": [
                    "recommendation"
                ],
                "summary": "지정 근로자 추천 요청정보를 변경한다.",
                "operationId": "480dd59922080a7b13a251af7674c70c",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/input_worker_recommendation_request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/recommendation/deleteRequest/{id}": {
            "get": {
                "tags": [
                    "recommendation"
                ],
                "summary": "지정 근로자 추천 요청정보를 삭제한다.",
                "operationId": "ad2490016ee5cbf7f7858220ba7e7d3b",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/recommendation/setRequestStatus/{id}": {
            "post": {
                "tags": [
                    "recommendation"
                ],
                "summary": "지정 요청 정보에 대한 승인 상태를 설정한다.",
                "operationId": "2eae50160f3b4d9f98f35d748c91b283",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/set_worker_recommendation_request_status"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/recommendation/setRecommendation/{id}": {
            "post": {
                "tags": [
                    "recommendation"
                ],
                "summary": "지정 요청정보에 대한 추천정보를 설정한다.",
                "operationId": "5fded936f5a539007a51dcab245ab486",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/input_worker_recommendation"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/recommendation/listRecommendation": {
            "get": {
                "tags": [
                    "recommendation"
                ],
                "summary": "근로자 추천 목록을 출력한다.",
                "operationId": "0a627cbce3702de213ae4fbd5afcb45a",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/op"
                    },
                    {
                        "$ref": "#/components/parameters/keyword"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/page_per_items"
                    },
                    {
                        "$ref": "#/components/parameters/order"
                    },
                    {
                        "$ref": "#/components/parameters/dir"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "요청 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/api_message"
                                        },
                                        {
                                            "$ref": "#/components/schemas/page_info"
                                        },
                                        {
                                            "$ref": "#/components/schemas/worker_recommendation_infos"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [],
                        "AccessTokenAuth": []
                    }
                ]
            }
        },
        "/recommendation/listRecommendationForUser": {
            "get": {
                "tags": [
                    "recommendation"
                ],
                "summary": "회원 본인에게 추천하는 추천 정보 목록을 출력한다.",
                "operationId": "bfcb3bba7165734bd135fa3d6638e42a",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/op"
                    },
                    {
                        "$ref": "#/components/parameters/keyword"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/page_per_items"
                    },
                    {
                        "$ref": "#/components/parameters/order"
                    },
                    {
                        "$ref": "#/components/parameters/dir"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "요청 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/api_message"
                                        },
                                        {
                                            "$ref": "#/components/schemas/page_info"
                                        },
                                        {
                                            "$ref": "#/components/schemas/worker_recommendation_infos"
[...]
